.fishTitle {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.fishTank {
	/* margin: 1em 0; */
	display: flex;
	justify-content: space-around;
	font-family: 'Poiret One', cursive;
    font-size: 1.1em;
	
}

#tankTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #f7f9fb;
	flex: 1000%;
	/* margin-left: 20px; */
	/* flex: 2; */
	/* border: solid red 10px;  */

}

#tankTitle h1 {
	color: #31708e;
}


.fishList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* border: black solid 5px; */
}

.fish-card {
	background-color: #31708e;
	margin: .5em;
	padding: 15px;
	max-width: 275px;
	/* border: red solid 5px; */
	object-fit: contain;
	border-radius: 25px;
}

.fish-card ul {
	list-style-type:none;
	padding: .5em;
	margin: .2em;
	font-size: .8em;
}

.fish__image {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 25px;
}
