/* Be sure to create a styles directory and put this file in there */
@import "tips.css";
@import "fish.css";

body {
	background-color: #f7e3d4;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #fba90a;
}



nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color: rgb(100, 128, 128);
	display: flex;
	justify-content: flex-end; 
}

nav li {
	display: inline;
	margin: 0 1em;
}

nav a {
	color: white;
}

nav a:hover {
	color: lightsalmon;
}
nav a:active {
	color: lightgreen;
}

.section-main {
	margin: 1em;
}

footer {
	background-color: darkcyan;
	color: whitesmoke;
	text-align: center;
}

.logo {
	width: 300px;
	height: auto;
	object-fit: scale-down;
}

.logo img {
	width: 300px;
	height: auto;
}
