@import "tips.css";
@import "fish.css";
@import "locations.css";

body {
	background-color: #f7f9fb;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #31708e;
	margin-bottom: 20px;
	border-radius: 0 0 25px 25px;
	/* border-bottom: solid 20px #8fc1e3 ; */
}

.fishTitle h1 {
	line-height: 1em;
	color: #f7f9fb;
	text-align: left;
	/* padding: 0 2em; */
	font-size: 4vw;
	font-family: 'Fascinate', cursive;
}

.fishTitle h2 {
	color: #f7f9fb; 
	font-family: 'Poiret One', cursive;
	font-size: 1.65vw;

}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	background-color: rgb(100, 128, 128);
	display: flex;
	justify-content: flex-end; 
}

nav li {
	display: inline;
	margin: 0 1em;
}

nav a {
	color: white;
}

nav a:hover {
	color: lightsalmon;
}
nav a:active {
	color: lightgreen;
}

.section-main {
	margin: 1em;
}

footer {
	background-color: darkcyan;
	color: whitesmoke;
	text-align: center;
}

.logo {
	width: 300px;
	height: auto;
	object-fit: scale-down;
}

.logo img {
	width: 300px;
	height: auto;
}
