.tipBox{
	display: flex;
	flex-wrap: wrap;
	border: black solid 5px;
	flex: 1;	
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0 10px;
    background: green;
}

.tip-card {
    display: flex; 
    flex-direction: column;
}

.tip__name {
    font-weight: bold;
    font-size: 1.5em;
}

.fishTank h1 {
    font-size: 3em;
}